@page "/"
@using System.Collections.Concurrent

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    HttpClient http = new HttpClient();
    string[] Urls = Environment.GetEnvironmentVariable("URLS").Split(',');
    ConcurrentDictionary<string, NodeData> data = new();

}